@import url(normalize.css);

:root{
  --color-red: #fb6470;
  --color-red-hover: #f94554;
  --color-dark: #353541;
  --color-dark-border: #18191C;
  --color-white: #fff;
  --color-blue: #0093b5;
  --font-size-text: 16px;
  --font-size-title: 24px;
  --font-size-heading: 32px;
  --font-size-main-heading: 48px;
}

html {
  scroll-behavior: smooth;
}

/* ========= HEADER START =========== */

header {
  position: relative;
  min-height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url(assets/img/desk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-color: var(--color-dark-border);
}

.header__text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

h1,
.header__description {
  margin:0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: var(--color-white);
}

h1 {
  font-size: var(--font-size-main-heading);
  text-transform: capitalize;
}

.header__description {
  font-size: var(--font-size-text);
  text-align: center;
}

.burger-button {
  position: absolute;
  top: 25px;
  left: 15px;
  padding: 0;
  border:0;
  align-self: flex-start;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
}

#burger-icon {
  width: 25px;
  stroke: var(--color-red);
  fill: var(--color-red);
  transition: stroke ease-in 0.4s, fill ease-in 0.4s;
}

.burger-button:hover>#burger-icon {
  stroke: var(--color-red-hover);
  fill: var(--color-red-hover);
}
/* ========= HEADER END =========== */

/* ========= PRODUCTS SECTION START =========== */
.portfolio-section,
.form {
  padding: 20px 10%;
  font-family: 'Raleway', sans-serif;
}

.portfolio-section__title {
  margin: 0;
  font-weight: 400;  
  font-size: var(--font-size-heading);
  color: var(--color-dark);
}

.portfolio-section__list {
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0 5px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: var(--color-dark);
}

.portfolio-section__list-item {
  display: inline-block;
  border-bottom: 3px solid transparent;
  transition: border-bottom ease-in-out 0.5s;
}

.portfolio-section__list-item.active {
  border-bottom: 3px solid var(--color-red);
  pointer-events: none;
}

.link {
  text-decoration: none;
}

.portfolio-section__list-item .link {
  display: inline-block;
  padding: 10px;
  color:var(--color-white);
  transition: color ease-in-out 0.7s;
}

.portfolio-section__list-item:hover{
  cursor: pointer;
  border-bottom: 3px solid var(--color-red);
}

.portfolio-section__list-item:hover .link {
  color:var(--color-red);
}

.portfolio-section__cards-container {
  min-height: 350px;
  padding: 40px 0 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 30px;
  column-gap: 10px;
}

.portfolio-section__card {
  max-width: 26%;
  min-height: 350px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid var(--color-red);
}

.portfolio-section__card.hidden {
  display: none;
}

.card__content.image {
  display: block;
  width: 55%;
  border-radius: 50%;
}

.card__content.paragraph,
.card__content.author {
  display: inline-block;
  text-align: center;
  color: var(--color-dark);
}

.card__title {
  max-width: 75%;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: var(--font-size-text);
  text-align: center;
  color: var(--color-dark);
}

.loader {
  display: block;
  margin: 10px auto;
  border: 3px solid var(--color-red);
  border-top: 1px solid var(--color-blue);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to {transform: rotate(360deg); }
}

.loader.hidden {
  display: none;
}

.portfolio-section__popup,
.form__popup {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity ease 0.2s;
}

.portfolio-section__popup.hidden,
.form__popup.hidden {
  display: none;
  opacity: 0;
}

.portfolio-section__popup-window,
.form__popup-window {
  position: relative;
  display: inline-block;
  min-width: 100px;
  padding: 10px 5px;
  background-color: var(--color-white);
  border-radius: 8px;
  text-align: left;
}

.popup__close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background-color: transparent;
  transition: color ease-in 0.3s;
}

.popup__close-button:hover {
  color:#fb6470;
  cursor: pointer;
}
/* ========= PRODUCTS SECTION END =========== */

/* ========= FORM STARTS ==================== */
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-color: #f1f3f7;
}

.form__title {
  font-weight: 700;
}

.form__title,
.form label  {
  margin: 0;
  font-size: var(--font-size-text);
  color: var(--color-dark);
}

.form__title,
.form label:nth-child(2),
.form label:nth-child(5) {
  text-transform: uppercase;
}

.form>input {
  max-width: 700px;
  width: 100%;
  border: none;
}

.form__error {
  font-size: 20px;
  color: var(--color-red);
}

.subscribe-button {
  padding: 10px 20px;
  color: var(--color-white);
  background-color: var(--color-red);
  border: none;
  box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color ease-in 0.3s;
}

.subscribe-button:hover {
  background-color: var(--color-red-hover);
}

/* ========= FORM ENDS ==================== */

/* ========= SIDEBAR STARTS ==================== */
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--color-dark);
  z-index: 1;
  opacity: 1;
  transition: left 0.9s ease-out, opacity 0.9s ease-out;
}

.sidebar.hidden {
  display: none;
  left: 100vw;
  opacity:0;
}

.sidebar__image {
  display: block;
  max-width: 300px;
}

.sidebar .portfolio-section__list {
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.sidebar .portfolio-section__list-item {
  display: block;
  width: 100%;
  border-bottom: 2px solid var(--color-dark-border);
  transition: border-bottom ease-in-out 0.5s;
}

.sidebar .navbar-link {
  padding: 30px 20px 0;
}
/* ========= SIDEBAR ENDS ==================== */
/* ========= FOOTER STARTS ==================== */
.footer__title {
  margin-left: 2em;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: var(--font-size-text);
  text-align: left;
  color: var(--color-dark);
}
/* ========= FOOTER ENDS ==================== */

/* ========= MEDIA QUERIES START ==================== */
@media (max-width: 1023px) {
  header {
    min-height: 25vw;
  } 
}

@media (max-width: 920px) {
  header {
    min-height: 33.3vw;
  }

  h1 {
    font-size: var(--font-size-title);
  }  
}

@media (max-width: 767px) {
  header {
    min-height: 40vw;
  }
}

@media (max-width: 490px) {
  header {
    min-height: 60vw;
  }
}


@media (max-width: 1023px) {
  .portfolio-section {
    padding: 20px 2%;
  }

  .portfolio-section__cards-container {
    gap: 50px;
    justify-content: space-evenly;
  }

  .portfolio-section__card {
    max-width: 38%;
    width:450px;
  }
}

@media (max-width: 767px) {
  .portfolio-section__card {
    max-width: 60%;
    min-height: 300px;
  }
  .portfolio-section__cards-container {
    column-gap: 150px;
    row-gap: 10px;
  }
}

@media (max-width: 450px) {
  .portfolio-section__card {
    max-width: 80%;
  }
}
