:root{
  --color-red: #fb6470;
  --color-dark: #353541;
  --color-white: #fff;
  --color-blue: #0093b5;
  --font-size-text: 16px;
  --font-size-title: 24px;
  --font-size-heading: 32px;
  --font-size-main-heading: 48px;
}

html {
  scroll-behavior: smooth;
}

/* ========= HEADER START =========== */

header {
  position: relative;
  min-height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url(assets/img/desk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-color: #18191C;
}

.header__text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

h1,
.header__description {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: var(--color-white);
}

h1 {
  margin: 0;
  font-size: var(--font-size-main-heading);
  text-transform: capitalize;
}

.header__description {
  margin:0;
  font-size: var(--font-size-text);
  text-align: center;
}

.burger-button {
  position: absolute;
  top: 25px;
  left: 15px;
  padding: 0;
  border:0;
  align-self: flex-start;
  background-color: transparent;
  cursor: pointer;
}

#burger-icon {
  width: 25px;
  stroke: var(--color-red);
  fill: var(--color-red);
  transition: stroke ease-in 0.4s, fill ease-in 0.4s;
}

.burger-button:hover>#burger-icon {
  stroke: #f94554;
  fill: #f94554;
}

@media (max-width: 1023px) {
  header {
    min-height: 25vw;
  } 
}

@media (max-width: 920px) {
  header {
    min-height: 33.3vw;
  }

  h1 {
    font-size: var(--font-size-title);
  }  
}

@media (max-width: 767px) {
  header {
    min-height: 40vw;
  }
}

@media (max-width: 490px) {
  header {
    min-height: 60vw;
  }
}
/* ========= HEADER END =========== */